<!DOCTYPE html>
<html lang="en">
<head>
    <title>Spring Boot - AJAX POST GET Example</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--    <script src="readData.js"></script>-->
    <script src="search.js"></script>
    <script src="loadMore.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col col-lg-6">
            <h1>Danh Sách Bài Viết</h1>
        </div>
        <div class="col col-lg-6">
            <!-- Search form -->
            <input id="txt-search" type="text" placeholder="search" name="search">
            <input type="button" value="Search" id="search-btn">
        </div>
    </div>
<!--    <div class="row" id="tblPostId">-->
<!--        <table id="tblPost" class="table table-dark table-hover">-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th>Title</th>-->
<!--                <th>description</th>-->
<!--                <th>Image</th>-->
<!--                <th>Author</th>-->
<!--                <th>timePost</th>-->
<!--                <th>shortDes</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            </tbody>-->

<!--        </table>-->
<!--        <br />-->
<!--        <br />-->
<!--        <br />-->
<!--        <br />-->
<!--        <br />-->
<!--        <br />-->
<!--    </div>-->
    <div class="container">
        <h2 align="center">Auto Load More Data on Page Scroll with Jquery & PHP</a></h2>
        <br />
        <div id="load_data">



            <hr />
        </div>
        <div id="load_data_message">

        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>


<!--    <div class="row" >-->
<!--        <div class="col lg-col-12" >-->
<!--            <div id="load_data_message"></div>-->
<!--        </div>-->
<!--    </div>-->
</div>
</body>
</html>