<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"
      xmlns="http://www.w3.org/1999/html">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">

    <!-- Website CSS style -->
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <!-- Website Font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

    <title>Admin</title>
</head>
<body>
<div class="container" style="margin-bottom: 15px">
    <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">
                    </h1>
                <h4 style="font-family: Passion One">Register</h4>
                <hr/>
            </div>
        </div>

        <div class="main-login main-center">
            <form class="form-horizontal" method="post">
                <!--                <input type="hidden" th:field="*{idUser}" >-->

                <div class="form-group">

                    <div class="cols-sm-10">
                        <div class="input-group">
                            <input type="hidden" class="form-control" name="user-id" id="user-id"
                                   placeholder="Enter your User Name"/>
                        </div>
                        <div>

                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label for="user-name" class="cols-sm-2 control-label">User Name</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="user-name" id="user-name"
                                   placeholder="Enter your User Name"/>
                        </div>
                        <div>
                            <label style="color: red ;font-size: 11px; font-family: SansSerif">Name Error </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="address" class="cols-sm-2 control-label">Address</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"> <i class="fa fa-user fa" aria-hidden="true"/> </span>
                            <input type="text" class="form-control" name="address" id="address"
                                   placeholder="Enter your Address"/>
                        </div>
                        <div>
                            <label style="color: red ;font-size: 11px; font-family: SansSerif">Name Error</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="cols-sm-2 control-label">Your Email</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            <input type="email" class="form-control" name="email" id="email"
                                   placeholder="Enter your Email"/>
                        </div>
                        <div>
                            <label style="color: red ;font-size: 11px; font-family: SansSerif"
                                   th:if="${#fields.hasErrors('emailUser')}" th:errors="*{emailUser}">Name Error</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="phone" class="cols-sm-2 control-label">Your Phone</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                </span>
                            <input type="text" class="form-control" name="phone" id="phone"
                                   placeholder="Enter your Phone"/>
                        </div>
                        <div>
                            <label style="color: red ;font-size: 11px; font-family: SansSerif">Name Error</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="pass-word" class="cols-sm-2 control-label">Your Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fas fa-key"></i></span>
                            <input type="password" class="form-control" name="pass-word" id="pass-word"
                                   placeholder="Enter your Pass Word"/>
                        </div>
                        <div>
                            <label style="color: red ;font-size: 11px; font-family: SansSerif">Name Error</label>
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Register</button>
                </div>
                <div class="login-register">
                    <a href="#">Login</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="assets/js/bootstrap.js"></script>
</body>
</html>