<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<nav th:replace="layout :: header"></nav>

<div class="container main-content form">
    <h4 style="text-align: center">Edit Digital</h4>
    <div class="row" >
        <div class="col-4"></div>
        <div class="col-4">
            <form method="post" action="/createDigital" th:object="${digital}">
                <div class="form-group">
                    <label >Author</label>
                    <input th:field="*{author}"  type="text" class="form-control" id="InputNameAuthor" aria-describedby="emailHelp" placeholder="Enter Name Author">
                </div>

                <div class="form-group">
                    <label >Description</label>
                    <input th:field="*{description}"  type="text" class="form-control" id="InputDescription" aria-describedby="emailHelp" placeholder="Enter Description">
                </div>

                <div class="form-group">
                    <label >Image</label>
                    <input th:field="*{image}"  type="text" class="form-control" id="InputImage" aria-describedby="emailHelp" placeholder="Enter Image /Image/nameimage">
                </div>

                <div class="form-group">
                    <label >Time Post</label>
                    <input th:field="*{timePost}"  type="date" class="form-control" id="InputTimePost" aria-describedby="emailHelp" placeholder="Enter Time Post">
                </div>
                <div class="form-group">
                    <label >Title</label>
                    <input th:field="*{title}"  type="text" class="form-control" id="InputTittle" aria-describedby="emailHelp" placeholder="Enter Title Post">
                </div>

                <div class="form-group">
                    <label >Categoty</label>
                    <select name="category" id="category">
                        <th:block th:each="row: ${category}" >
                            <option th:value="${row.idCategory}" th:text="${row.nameCategory}"></option>
                        </th:block>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-4"></div>

    </div>
</div><!-- /.container -->

<footer th:replace="layout :: footer"></footer>
</body>
</html>