.main-content {
    min-height: 500px;
    max-width: 700px;
    margin-top: 15px;
}

.list {
    max-width: 800px;
}

.form {
    max-width: 450px;
}

.row {
    margin-top: 10px;
}

.table th, td {
    text-align: center;
}

.field-error {
    border: 1px solid #ff0000;
    margin-bottom: 10px;
}
.search{
    padding-left: 15px;
    margin-left: 241px;
}

table.table td a.edit {
    color: #FFC107;
}
table.table td a.delete {
    color: #F44336;
}
table.table td i {
    font-size: 19px;
}